* {
    box-sizing: border-box;
}

.content-container {
    margin: 2.5rem auto 2.5rem auto;
    max-width: 1126px;
    min-height: 50vh;
    padding: 10px;
}

.textArea {
    text-align: center;
}

.header { 
    font-size: 60px;
    padding: 10px
}

.paragraph { 
    font-size: 30px;
    padding: 10px;
}