/* TimeLine.css */
.outer-container {
    display: flex;
    justify-content: center;
    /* This will center the child containers */
    align-items: flex-start;
    width: 100%;
    /* Take full width of the viewport */
}

.timeline-container {
    max-width: 780px;
    margin: 0 20px;
    /* This adds some space on the sides */
    box-sizing: border-box;
}


.jump-to-projects button {
    background-color: rgb(185, 0, 0);
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.5s;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.jump-to-projects button:hover {
    background-color: rgba(185, 0, 0, 0.647);
}


.work-experience-section {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.projects-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-top: 800px; */
}