.what-i-do-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    /* Adjust this to control how it's centered vertically */
    text-align: center;
}

.header {
    margin-bottom: 10px
}

.subtitle {
    font-size: 25px;
    margin-bottom: 20px;
}

.icons {
    /* If your icons are from FontAwesome, for example, you might style the i elements */
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: rgb(45, 64, 101);
    margin-bottom: 20px;
    font-size: 4.5rem;
}


.professional-spiel li {
    /* list-style: cric; */
    font-size: 20px;
    padding: 10px;
}

.custom-java:hover {
    color: red;
    /* Java's red is classic, keep it if it works for ya */
}

.custom-python:hover {
    color: #3776AB;
    /* Python's official blue */
}

.custom-database:hover {
    color: #006488;
    /* If this is for a specific DB, let me know */
}

.custom-docker:hover {
    color: #2496ED;
    /* Docker blue is spot on */
}

.custom-spring:hover {
    color: #6DB33F;
    /* Spring's official green */
}

.custom-maven:hover {
    color: #C71A36;
    /* Maven's red */
}

.custom-aws:hover {
    color: #FF9900;
    /* AWS's orange */
}

.custom-terminal:hover {
    color: #33FF33;
    /* Classic terminal green */
}

.line-separator {
    border: none;
    height: 1px;
    background-color: #333;
    /* Or any color you prefer */
    margin: 20px 0;
    /* Adds vertical space around the <hr/> */
    width: 35%;
    /* Ensures it spans the full width of its container */
}

.other-interests p {
    /* list-style: circle; */
    padding: 10px;
}

.other-interests li {
    /* list-style: circle; */
    padding: 10px;
    font-size: 20px;
}