.book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 200px); */
    grid-auto-rows: minmax(100px, auto); /* this will do the magic */
    gap: 40px;
    padding: 50px;
  }
  
  .book {
    color: aliceblue;
    border: 1px solid #7876c6;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    display: flex; /* flex makes inner content push the borders */
    flex-direction: column; /* stack 'em */
    justify-content: space-between; 
    word-wrap: break-word; /* This is crucial */
    box-sizing: border-box; /* This too */
    overflow: hidden; 
  }
  
  .book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  
  /* Add additional styling as necessary */
  