:root { 
  --primary-color:#003f5c;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the .App fills at least the whole viewport height */
  }
  
  main {
    flex: 1; /* This will allow the main content to expand and push the footer down */
  }
  
  /* Add this in your CSS file where you define styles for .App and other layouts */
  